/* ConnectMe.css */
.connect-me-section {
  padding: 20px;
  color: white;
  background-color: black;
  text-align: center;
}
h2{
  margin-bottom: 16px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .social-icons {
    align-items: center;
    gap: 15px;
  }

  .social-icon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .connect-me-section {
    padding: 15px;
  }

  .social-icons {
    gap: 10px;
  }

  .social-icon {
    width: 30px;
    height: 30px;
  }

  .connect-me-section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
}
