/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./asset/me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1; /* Ensures it stays behind the content */
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.logo1 {
  color: rgb(157, 20, 207);
  padding-left: 112px;
}

/* Navbar and body styles */
.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.nav {
  display: flex;
  color: rgb(199, 78, 243);
  margin-top: 6px;
  gap: 25px;
}

.img1 {
  height: 391px;
  width: 391px;
  padding: 10px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 26vh;
  margin-right: 30px;
  box-shadow: rgba(157, 20, 207) 0px 10px 36px 0px, rgba(157, 20, 207) 0px 0px 0px 1px;
}

.name {
  color: rgb(157, 20, 207);
}

.body1 {
  font-size: x-large;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;

}

.intro-container {
  width: 47%;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  margin-top: 25vh;
}

.skills {
  margin-top: 150px;

  color: aliceblue;
  padding: 50px;
}
.resume{
  text-align: left;
  padding-left: 17vh;
  color: rgb(157, 20, 207);
  font-size: 2em;
}

.resume a{
  text-decoration: none;
  color: rgb(20, 19, 20);
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(243,29,253,1) 50%, rgba(252,176,69,1) 100%);
}

.resume a svg{
  color: rgb(157, 20, 207);
}
/* Responsive styles */
@media (max-width: 1024px) {
  .intro-container {
    margin-top: 20vh;
    width: 60%;
  }
  
  .img1 {
    height: 320px;
    width: 320px;
  }

  .body1 {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar {
    font-size: 18px;
    padding: 10px 15px;
  }

  .intro-container {
    margin-top: 18vh;
    width: 75%;
  }

  .img1 {
    height: 250px;
    width: 250px;
    margin-top: 20px;
  }

  .body1 {
    gap: 15px;
  }
  
  .skills {
    padding: 40px;
    font-size: medium;
  }
}

@media (max-width: 480px) {
  body::after {
    background-image: url("./asset/me3.jpg");
  }
  
}
/* Responsive styles */
@media (max-width: 480px) {
  .logo1 {
    font-size: 1.3em;
    padding-left: 20px;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    padding: 10px 0;
  }

  .img1 {
    height: 200px;
    width: 200px;
    margin-top: 32px;
    margin-left: 25px;
  }

  .intro-container {
    width: 85%;
    height: 25vh;
    margin-top: 15vh;
    text-align: center;
  }

  .intro-container h1 {
    font-size: 1.2em; /* Smaller font size for mobile */
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .skills {
    padding: 30px;
    font-size: small;
  }

  .body1 {
    font-size: large;
    
    gap: 10px;
    text-align: center;
    padding: 0 15px;
  }
  .resume{
    margin-top: 30px;
    text-align: center;
    padding: 0;
  }
}

