/* Background outside the skills box */
.skills-background {
  margin-top: 83px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(243,29,253,1) 50%, rgba(252,176,69,1) 100%);
  padding-top: 30px;
}

/* Skills box styling */
.skills-section {
  max-width: 90%;
  margin: 0px auto;
  padding: 20px;
  background-color: rgb(8, 8, 8);
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(169, 165, 165, 0.1);
  opacity: 0; /* Initially hidden */
  transform: translateY(30px); /* Starting position for the floating effect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Animation effect when the skills section is visible */
.skills-section.animate {
  opacity: 1;
  transform: translateY(0); /* Final position */
}

/* Title */
.skills-section h2 {
  text-align: center;
  color: rgb(249, 243, 243);
  margin-bottom: 20px;
  font-size: 2.3em;
}

/* Two-column layout */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  flex: 1 1 45%; /* Adjust for two columns */
  margin-bottom: 15px;
}

.skill-name {
  font-size: 1.1em;
  color: rgb(247, 244, 244);
  margin-bottom: 5px;
  display: block;
}

/* Progress bar styling */
.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  position: relative;
}

.progress {
  height: 100%;
  background: rgb(169,71,207);
background: linear-gradient(90deg, rgba(169,71,207,1) 32%, rgba(157,20,207,1) 50%, rgba(231,184,29,1) 96%);
  transition: width 1s ease-in-out;
}

@media (max-width: 768px) {
  
  .skills-section h2 {
    font-size: 1.3em; /* Smaller font size for medium screens */
  }

  .skills-container {
    gap: 15px;
  }

  .skill {
    flex: 1 1 100%; /* Single column on medium screens */
  }
  
  .skill-name {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .skills-background{
    margin-top: 75px;
  }
  .skills-section {
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    padding: 15px;
  }

  .skills-section h2 {
    font-size: 1.2em; /* Smaller font size for mobile */
    margin-bottom: 15px;
  }

  .skills-container {
    gap: 10px;
  }

  .skill {
    flex: 1 1 100%; /* Single column layout on mobile */
  }

  .progress-bar {
    height: 15px; /* Reduced height for mobile */
  }

  .skill-name {
    font-size: 0.9em;
  }
}
